{%extends 'base.html' %}

{% block title %}Fernando León{% endblock %}

{% block content %}

<h2>SOBRE MI</h2>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus voluptatibus dignissimos dolore et ea. Dolor labore a distinctio impedit consectetur ea et, nihil quae deleniti nobis minima cum veritatis numquam.</p>

<section id = "nuevos articulos">

<h2>ARTÍCULOS RECIENTES
    
    <small>
        <a href="/blog" class="view-all">VER TODOS</a>
    </small>    
</h2>

<ul>
    <ul>
        {% for article in recent_articles %}
            <li><a href="{{ url_for('post', filename=article['filename']) }}">{{ article.title }}</a></li>
        {% endfor %}
    </ul>
</ul>

</section>
{% endblock %}