{%extends 'base.html' %}

{% block title %}Fernando León{% endblock %}

{% block content %}


<h2>SOBRE MI</h2>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus voluptatibus dignissimos dolore et ea. Dolor labore a distinctio impedit consectetur ea et, nihil quae deleniti nobis minima cum veritatis numquam.</p>

<section id = "nuevos articulos">

<h2>ARTÍCULOS RECIENTES
    
    <small>
        <a href="#" class="view-all">VER TODOS</a>
    </small>    
</h2>

    <ul  class="no-bullets">
        <li> <a href="#">Articulo 1</a> </li>
        <li> <a href="#">Articulo 2 </a> </li>
        <li> <a href="#">Articulo 3 </a> </li>

    </ul>

</section>
{% endblock %}